fastapi==0.119.0
google-auth==2.23.4
google-auth-oauthlib==1.1.0
google-auth-httplib2==0.2.0
google-api-python-client==2.108.0
langchain==0.3.27
langchain-core==0.3.79
langchain-google-genai==2.1.12
langchain-text-splitters==0.3.11
langgraph==0.6.10
langgraph-checkpoint==2.1.2
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.9
pre-commit==4.3.0
pydantic-settings==2.11.0
python-dotenv==1.0.0
requests==2.31.0
slack-sdk==3.23.0
uvicorn==0.37.0